* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  
  .sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption .material-icons,
  .fa-twitter {
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--twitter-color);
  }
  
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  .sidebar__tweet:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
  
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  
  .fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
  }
  
  /* feed */
  .feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* tweet box */
  .tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetBox form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }
  
  /* post */
  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
  }
  
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .post_footer:hover{
    color:(var(--twitter-color));
    background-color: var(--twitter-background);
    transition: 100ms ease-in-out;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
    position: relative;
    left:60px;
    top:-65px;
  }
  
  .post__avatar {
    padding: 20px;
  }
  
  /* widgets */
  .widgets {
    flex: 0.3;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
  }
.profileimage {
    border-radius: 50%;
    position:relative;
    left:28px;
    border: 2px solid rgb(255, 255, 255);
    width: 41px;
    margin-right: 30px;
    margin-bottom: -5px;}
    .profiledet{
        position:relative;
        top:250px;
    }
.pname{
    position:relative;
    left:5px;
}    
.dname{position:relative;
    left:07px;
    font-size:8px;
    color:grey

}
.searchbar {
    display: inline-flex;
    margin: 10px 0 0 25px;
    border: 1px solid rgb(155, 157, 160);
    opacity: 0.6;
    padding: 13px;
    border-radius: 30px;
    height:50px;
    width: 600px;
    background-color: rgb(230, 243, 255);
}
.searchbar:focus{
    outline: none;
}
.searchbar:hover{
    color:aqua;
    transition: 200ms ease-in-out;
}

#searchbox {
    border: 1px white;
    position:relative;
    top:-23px;
    left:-30px;
    width:1000px;
    border-radius: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.searchicon {
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-right: 15px;
}
.searchicon:hover{
    color:aqua;
    transition: 200ms ease-in-out;
}
.heading {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    top:-18px;
    font-family: 'Chirp', sans-serif;
    font-weight: 900;

}

.heading h2 {
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
    width:120px;
    height:50px;
    text-align: center;
    font-size: 16px;
}

.heading h2:hover {
    background: rgb(222, 224, 231);
}
.underline{
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .cogset{
    position: relative;
    left:18px;
    top:8px;
    border:1px white;
    height:20px;
    width:20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .cogset:hover{
    background-color:rgb(219, 210, 210);
    transition: 200ms ease-in-out;
    border-radius: 30px;
    width:30px;
    height:30px;
}
.Timeline h4{
    font-size: 13px;
    color: grey;
}
.Timeline h2{
    font-size:23px;
    font-family: 'Chirp', sans-serif;
    font-weight: 600;
}
.first{
    position: relative;
    top:-10px;
}
.second{
    position: relative;
    top: 10px;;
}
.third{
    position: relative;
    top: 30px;;
}
.fourth{
    position: relative;
    top: 50px;;
}
.fifth{
    position: relative;
    top: 70px;
}
.sixth{
    position: relative;
    top: 90px;;
}
.seventh{
    position: relative;
    top: 110px;;
}
.eighth{
    position: relative;
    top:130px;
}
.burger1{
    position: relative;
    top:-10px;
    left:680px;
}
.burger2{
    position: relative;
    top: 10px;
    left:680px;
}
.burger3{
    position: relative;
    top: 30px;
    left:680px;
}
.burger4{
    position: relative;
    top: 50px;
    left:680px;
}
.burger5{
    position: relative;
    top: 70px;
    left:680px;
}
.burger6{
    position: relative;
    top: 90px;
    left:680px;
}
.burger7{
    position: relative;
    top: 110px;
    left:680px;
}
.burger8{
    position: relative;
    top:130px;
    left:680px;
}
.burger{
    cursor: pointer;
}
.burger:hover{
    color:aqua;
    background-color: #c8e5f8;
    transition: 100ms ease-in-out;
    border-radius: 20px;
}
.Who_To_Follow h4{
    font-size: 20px;
    position: relative;
    top:50px;
    left:20px;
    font-family: 'Chirp', sans-serif;
    width:300px;
    font-weight: 900;
    
}
.Elon{
    position: relative;
    top:60px;
}
.valorant{
    position: relative;
    top:-70px;
}
.f-btn{
    position: relative;
    left:110px;
    top:-35px;
}
.footer{
    float: left;
    width: 100%;
    position: relative;
    top:-120px;
    left:30px;    
}
.footer ul{
    list-style: none;
}
.footer li{
    padding: 5px 0;
    display: inline;
    display: inline-block;
    padding:  4px;
    margin: 2px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400px;
}
.footer a{
    text-decoration: none;
    color: rgb(136, 153, 166);
}
.footer a:hover{
    text-decoration: underline;
}
.footer p{
    margin-top: 0;
    text-align: center;
    color: rgb(136, 153, 166);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}